/* //////////////// MOBILE STYLES //////////////// */

#mobile-menu {
  position: fixed;
  bottom: 0;
  background-color: rgba(34, 0, 0, 0.8) !important;
  width: 100%;
  padding: 5px 10px;
}

/* //////////////// GRADIENT //////////////// */

/* purple: #5a2686, darkBlue: 594cfb, lightBlue: a0b1dc, pink: e65170, purple: 3b074e */

.gradient-item {
  background: rgb(70, 37, 74);
  background: linear-gradient(
    54deg,
    rgba(70, 37, 74, 0.9) 0%,
    rgba(250, 42, 16, 0.9) 100%
  );
}

.gradient-item:hover {
  background: rgb(70, 37, 74);
  background: linear-gradient(
    54deg,
    rgba(70, 37, 74, 1) 0%,
    rgba(250, 42, 16, 1) 100%
  );
}
#gradient {
  isolation: isolate;
}
#gradient1 {
  background: linear-gradient(90deg, #422646, #cf2710),
    url(/public/img/noise.svg);
  position: absolute;
  filter: contrast(80%) brightness(90%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#gradient2 {
  mask-image: linear-gradient(to bottom, transparent, #fff);
  background: linear-gradient(90deg, #20172e, #294a25),
    url(/public/img/noise.svg);
  /* mix-blend-mode: multiply; */
  filter: contrast(120%) brightness(150%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* //////////////// BUTTONS AND FORM ELEMENTS //////////////// */
.glass {
  background: rgb(31, 0, 0);
  background: linear-gradient(
    to right bottom,
    rgba(24, 19, 19, 0.7),
    rgba(93, 7, 7, 0.3)
  );
  backdrop-filter: blur(2rem);
}

/* //////////////// BUTTONS AND FORM ELEMENTS //////////////// */

.transparent-btn {
  position: relative;
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  background: none;
  outline: none;
  color: black;
  mix-blend-mode: screen;
  border-radius: 20px !important;
}

.transparent-btn:hover {
  background: #fcffba !important;
}

.transparent-btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border-radius: 20px !important;
  content: "";
  mix-blend-mode: color-burn;
}

.solid-btn {
  padding: 10px 15px !important;
  font-size: 1em !important;
  font-weight: normal !important;
  background: #5a2686 !important;
  border: none !important;
  color: white !important;
  border-radius: 10px !important;
}
.solid-btn:hover {
  background: #411d5f !important;
}

select {
  border-radius: 20px !important;
}

.num-input {
  width: 100px;
  border-radius: 0px !important;
}

.social {
  background: none !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.delete-icon {
  background: none !important;
  border: 0 !important;
  margin-bottom: 30px;
}

#deployer-container .delete-icon {
  color: white;
}

ul.alternating-list {
  margin: 20px 0 !important;
}

ul.alternating-list li {
  padding: 20px;
  border-radius: none !important;
}

ul.alternating-list > li:nth-child(2n + 1) {
  background-color: #eeeeee !important;
}

ul.alternating-list > li:nth-child(2n) {
  background-color: #eeeeee !important;
}

#deployer-container ul.alternating-list > li:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

#deployer-container ul.alternating-list > li:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

#deployer-container #copy-address {
  color: white !important;
}

#copy-address {
  color: #fff !important;
}

/* //////////////// LAYOUT //////////////// */
#main-container {
  padding: 1rem;
}
/* //////////////// DEPLOYER //////////////// */

#deployer-container p,
#deployer-container h1,
#deployer-container h2 {
  color: white;
}

.dao-type h2 {
  font-size: 1.2em;
}

div.dao-type {
  border: 1px solid;
  padding: 20px;
  margin: 2px;
  border-radius: 15px;
}

div.dao-type:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid;
  margin: 1px;
}

#landing-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13rem;
}

#not-connected {
  color: #ffc9e2;
}

#connected-to-network {
  color: #ffffed;
}

.member-address {
  width: 90% !important;
  margin-right: 10px !important;
}

#deploy-btn {
  margin: 20px !important;
}

#choose-docs {
}

#checkout {
  width: 70%;
}

#chain-picker {
  background-color: rgba(36, 0, 0, 0.2);
  color: rgb(255, 255, 255) !important;
  border-radius: 2em;
  padding: 0.9em;
  width: 100%;
  height: auto;
}

#date-picker {
  background-color: rgba(36, 0, 0, 0.2);
  color: rgb(255, 255, 255) !important;
  border-radius: 2em;
  padding: 0.6em;
  width: 100%;
  height: auto;
}
/* //////////////// DAO APP //////////////// */

#dao-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  min-width: 100vw;
}

#dao-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

#dashboard {
  color: white;
}

.dashboard-tile,
.proposal-tile,
.proposal-type-tile {
  padding: 30px;
  margin: 0;
  border-radius: 15px;
  color: white;
  width: 100%;
}

.dashboard-tile h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.proposal-tile h2 {
  font-size: 1.2em;
  padding: 0 0 5px 0;
}

.proposal-type-tile h2 {
  font-size: 1.2em;
  padding: 10px 0 5px 0;
}

.proposal-type-tile p {
  font-size: 0.8em;
}

.proposal-title {
  margin-bottom: 20px;
}

.timer-container {
  margin-bottom: 20px !important;
}

.timer-label {
  font-size: 0.8em;
}

.timer {
  font-size: 1.7em;
  font-weight: bold;
}

.vote-count {
  line-height: 0.5em;
  border-bottom: 1px dashed white;
  padding: 5px;
  font-size: 0.8em;
}

.vote-status {
  margin-bottom: 10px !important;
}

.RSPBprogressBar {
  background: transparent !important;
  border: 1px dashed rgba(255, 255, 255, 0.2) !important;
}

.RSPBprogression {
  border: 1px dashed white !important;
}

.RSPBstep {
}

#new-proposal h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* //////////////// MISC //////////////// */

#account {
  color: #fff !important;
}

#tos {
  border: none;
  background-color: transparent;
  font-size: 1em;
  padding: none;
  margin: none;
  display: inline;
  color: #fff;
  font-style: italic;
  font-weight: 200;
}
#tos-button {
  font-size: 0.8em;
  font-style: italic;
  border: none;
  background-color: transparent;
  color: #eeeeee;
  font-weight: 100;
}

option {
  color: rgb(0, 0, 0) !important;
  background-color: #eeeeee !important;
}
/* color scheme */
/* purple: #5a2686, darkBlue: 594cfb, lightBlue: a0b1dc, pink: e65170, purple: 3b074e */
