/* //////////////// MOBILE STYLES //////////////// */

#mobile-menu {
  position: fixed;
  bottom: 0;
  background-color:rgba(255, 255, 255, 0.8) !important;
  width:100%;
  padding: 5px 0;
}

/* //////////////// GRADIENT //////////////// */

.gradient-item {
  background: rgb(70,37,74);
  background: linear-gradient(54deg, rgba(70,37,74,0.9) 0%, rgba(250,42,16,0.9) 100%);
}

.gradient-item:hover {
  background: rgb(70,37,74);
  background: linear-gradient(54deg, rgba(70,37,74,1) 0%, rgba(250,42,16,1) 100%);
}

#gradient1 {
  background: linear-gradient(90deg, #46254a, #fa2a10);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#gradient2 {
  mask-image: linear-gradient(to bottom, transparent, black);
  background: linear-gradient(90deg, #34254a, #294a25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* //////////////// BUTTONS AND FORM ELEMENTS //////////////// */

.transparent-btn {
  position: relative;
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  background: none;
  outline: none;
  color: black;
  mix-blend-mode: screen;
  border-radius: 20px !important;
}

.transparent-btn:hover {
  background: #fcffba !important;
}

.transparent-btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border-radius: 20px !important;
  content: "";
  mix-blend-mode: color-burn;
}

.solid-btn {
  padding: 10px 15px !important;
  font-size: 1em !important;
  font-weight:normal !important;
  background: #7e8d90 !important;
  border: none !important;
  color: white !important;
  border-radius: 10px !important;
}

select {
  border-radius: 20px !important;
}

.num-input {
  width: 100px;
  border-radius: 0px !important;
}

.social {
  background: none !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.delete-icon {
  background: none !important;
  border: 0 !important;
  margin-bottom:20px;
}

ul.alternating-list {
  margin: 20px 0 !important;
}

ul.alternating-list li {
  padding:20px;
  border-radius: none !important;
}

ul.alternating-list > li:nth-child(2n+1) {
  background-color: #eeeeee !important;
}

ul.alternating-list > li:nth-child(2n) {
  background-color: #eeeeee !important;
}

#deployer-container ul.alternating-list > li:nth-child(2n+1) {
  background-color:rgba(0, 0, 0, 0.1) !important;
}

#deployer-container ul.alternating-list > li:nth-child(2n) {
  background-color:rgba(0, 0, 0, 0.1) !important;
}

/* //////////////// DEPLOYER //////////////// */

#deployer-container {
  padding:20px;
}

#deployer-container p,
#deployer-container h1,
#deployer-container h2 {
  color: white;
}

.dao-type h2 {
  font-size: 1.2em;
}

div.dao-type {
  border: 1px solid;
  padding: 20px;
  margin: 2px;
  border-radius: 15px;
}

div.dao-type:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid;
  margin: 1px;
}

#landing-tile-left {
  margin-right:100px;
}

#landing-tile-right {

}

#not-connected {
  color: #ffc9e2;
}

#connected-to-network {
  color: #ffffed;
}

.member-address {
  width:90% !important;
  margin-right: 10px !important;
}

#deploy-btn {
  margin: 20px !important;
}

#choose-docs {
}

#checkout {
  width: 70%;
}

/* //////////////// APP //////////////// */

div#dao-main {
  background: #fafafa;
  padding: 20px 45px !important;
}

div#dao-main-mobile {
  background: #fafafa;
}

div#footer {
  margin: 0 -45px;
  padding: 20px 45px !important;

}

#dao-main h1, #dao-main-mobile h1, h1 {
  color: #5a2686 !important;
  margin-bottom: 20px;
}

.h1-icon {
  color: #5a2686 !important;
  margin-bottom: 20px;
}

#dao-sidebar {
  padding: 60px 0 0 0;
}

#action-menu {
  padding-top: 50px;
}

#dao-sidebar button,
#dao-sidebar #kali-logo {
  color: #5a2686;
}

#dashboard {
  color: white;
}

.dashboard-tile, .proposal-tile, .proposal-type-tile {
  padding: 30px;
  margin: 15px;
  border-radius: 15px;
  color: white;
  width:100%;
}


.dashboard-tile h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.proposal-tile h2 {
  font-size: 1.2em;
  padding: 0 0 5px 0;
}

.proposal-type-tile h2 {
  font-size: 1.2em;
  padding: 10px 0 5px 0;
}

.proposal-type-tile p {
  font-size: 0.8em;
}

.proposal-title {
  margin-bottom: 20px;
}

.timer-container {
  margin-bottom: 20px !important;
}

.timer-label {
  font-size: 0.8em;
}

.timer {
  font-size: 1.7em;
  font-weight: bold;
}

.vote-count {
  line-height: 0.5em;
  border-bottom: 1px dashed white;
  padding: 5px;
  font-size: 0.8em;
}

.vote-status {
  margin-bottom: 10px !important;
}

.RSPBprogressBar {
  background: transparent !important;
  border: 1px dashed rgba(255, 255, 255, 0.2) !important;
}

.RSPBprogression {
  border: 1px dashed white !important;
}

.RSPBstep {
}

#new-proposal h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* color scheme */
/* purple: #5a2686, darkBlue: 594cfb, lightBlue: a0b1dc, pink: e65170, purple: 3b074e */
